h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: lightblue;
}
button{
    width: 50px;
    height: 30;
    background-color: transparent;
    color: red;
    border-radius: 5px;
    box-shadow: 3px 3px 23px 5px red;
    cursor: pointer;
}